footer{
    font-size: 14px;
    
    background: url('imagen/rs_school_js\ \(1\).svg') no-repeat;
  }
  .align{
    text-align:center;
  }
  main{
    border-top: 2px solid #a9a9a9;
  }
  .tab{
    text-indent: 15px;
  }